doctype html 
html(lang="es")
    head 
        include partials/head
        link(rel="stylesheet", href="stylesheets/index.css")
        link(rel="stylesheet", href="stylesheets/blog.css")

body 
    include partials/header

    - 
        const cards = [
        {  
            srcPost: 'blog/telefono-tonto-antidoto-sobrestimulacion',
            srcImage: 'https://carlosfelice.com.ar/blog/wp-content/uploads/movil.jpg',
            title: 'Telefono tonto, el antidoto de la sobrestimulación', 
            description: "Un telefono tonto es aquel el cúal presenta caracteristicas muy limitadas en comparación con los smartphone de la actualidad.",
            date: '20 de agosto 2023',
            author: {name: 'JordiG', srcImage: 'https://w7.pngwing.com/pngs/406/902/png-transparent-flat-design-person-character-man-avatar-smiley-face-minimalist-dude.png'}
        }
      ]

    div(class='posts')
        each card in cards
            - srcPost= `${card.srcPost}`
            .posts__postCard
                a(href=srcPost class='posts__postCard__srcPost') 
                    img(src=card.srcImage class='posts__postCard__srcPost__image')
                a(href=card.srcPost class='posts__postCard__srcPost') 
                    h1(class='posts__postCard__srcPost__title')= card.title
                p(class='posts__postCard__description')= card.description 
                    a(href=card.srcPost class='posts__postCard__description_srcPost')
                        span  Seguir leyendo
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg>
                div(class='posts__postCard___footer')
                    div(class='posts__postCard___footer__author')
                        img(src=card.author.srcImage class='posts__postCard___footer__author__image')
                        p= card.author.name
                    p(class='posts__postCard___footer__date')= card.date
 
    