---
import Card from "../ui/Card.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import DotsIcon from "../icons/DotsIcon.astro";

const experiences = [
  {
    title: "Frontend Developer",
    company: "Freelance",
    startDate: "2024",
    endDate: "Present",
    description:
      "Desarrollo sitios web, aplicaciones y productos digitales, desde el diseño hasta la implementación y mantenimiento",
  },
  {
    title: "Tecnico SAT",
    company: "Casino Grand Victoria",
    startDate: "2022",
    endDate: "2024",
    description:
      "Desempeñe de forma efectiva mi labor de tecnico SAT, reparando de forma inmediata las averias de las maquinas de juego del establecimiento, como realizando tambien mantenimiento de prevencion de fallos",
  },
  {
    title: "Empacador",
    company: "Jumbo",
    startDate: "2021",
    endDate: "2022",
    description:
      "Desempeñe de forma efectiva la tarea de empacar las compras de los clientes, ayudarles a llevar su compra al coche, todo con un buen trato, amabilidad y atencion",
  },
];
---

<Card classes="">
  <SectionTitle title="Work Experience" iconName="work" />
  <div class="grid gap-3">
    {
      experiences.map(({ title, company, startDate, endDate, description }) => {
        return (
          <div class="we-wrapper p-3 rounded-xl bg-blue-200 dark:bg-blue-950">
            <p class="text-xs text-slate-800">
              {startDate} - {endDate}
            </p>
            <h3 class="text-lg font-bold text-slate-800">{company}</h3>
            <p class="dark:text-slate-300 text-blue-400 mb-2 text-xs">
              {title}
            </p>
            <div class=" rounded-lg h-max">
              <p class="we-description bg-white rounded-lg hidden text-xs leading-5 p-3">
                {description}
              </p>
              <span class="we-button p-3 hover:bg-blue-100 flex w-full font-medium  gap-2 items-center justify-start cursor-pointer rounded-lg">
                <DotsIcon classes="size-4 min-w-4" />
                <p>Details</p>
              </span>
            </div>
          </div>
        );
      })
    }
  </div>
</Card>

<script is:inline>
  const we = document.querySelectorAll(".we-wrapper");

  we.forEach((currentWe) => {
    const weButton = currentWe.querySelector(".we-button");
    const weDescription = currentWe.querySelector(".we-description");

    weButton.addEventListener("click", () => {
      weDescription.classList.remove("hidden");
      weButton.classList.add("hidden");
    });
  });
</script>
