---
import Link from "../ui/Link.astro";
import ThemeToggle from "./ThemeToggle.astro";
import normalizePath from "../../../scripts/portfolio/normalizePath";

interface Props {
  classes?: string;
}

const currentPath = normalizePath(Astro.url.pathname);

const navLinks = [
  {
    iconName: "house",
    currentPath: currentPath,
    url: "/",
    text: "Portfolio",
  },
  {
    iconName: "house",
    currentPath: currentPath,
    url: "/blog",
    text: "Blog",
  },
];

const { classes } = Astro.props;
---

<header class={classes}>
  <!-- background -->
  <div class="absolute inset-0 rounded-br-2xl rounded-bl-2xl overflow-hidden">
    <div class="absolute inset-0 bg-slate-50/70 dark:bg-slate-900/70"></div>
    <div class="absolute inset-0 backdrop-blur-3xl"></div>
  </div>

  <div class="relative z-10 flex justify-between items-center">
    <nav class="w-max py-1">
      <ul class="flex">
        {
          navLinks.map(({ iconName, url, text, currentPath }) => {
            const isTabActive = currentPath == url;
            return (
              <li
                class={`  ${isTabActive ? "text-blue-400 dark:text-blue-400 bg-white " : "dark:text-zinc-300 text-zinc-700 hover:text-blue-500 dark:hover:text-blue-400 "}   py-2 px-4 rounded-lg transition-colors font-bold tracking-wider`}
              >
                <Link href={url} currentPath={currentPath} iconName={iconName}>
                  {text}
                </Link>
              </li>
            );
          })
        }
      </ul>
    </nav>
    <ThemeToggle />
  </div>
</header>
