doctype html 
html(lang="es")
    head 
        include partials/head

body(class='bg-dominant text-secundary')
    include partials/header
    - 
        const cards = [
        {  
            srcPost: 'blog/telefono-tonto-antidoto-sobrestimulacion',
            srcImage: 'images/killua.png',
            title: 'Como construir una Landing Page desde cero', 
            description: "Un telefono tonto es aquel el cúal presenta caracteristicas muy limitadas en comparación con los smartphone de la actualidad.",
            date: '20 de agosto 2023',
            author: {name: 'JordiG', srcImage: 'images/killua.png'}
        },
      ]

    div(class='mx-auto grid grid-cols-5 max-2xl:grid-cols-4 max-xl:grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 justify-items-center gap-5 px-[2.5%]')
        each post in posts
            a(href=`blog/${post.src_post}` class='grid bg-terciary rounded-md') 
                img(src=post.image class='rounded-t-md mb-2.5 w-full')
                div(class='grid gap-4 p-2.5') 
                    h1(class='font-bold text-lg')= post.title
                    p(class='text-sm text-paragraph')= post.description
                    div(class='flex items-center gap-2')
                        div(class='')
                            img(src='' class='w-4 rounded-full')
                        p(class='text-xs')= post.create_at

    